# .gitignore

.claude/
**/venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
frontend/static/lib/

# 数据文件
data/hunan-osm_roads_free.geojson
data/hunan-osm_pois_free.geojson
data/hunan-osm_buildings_a_free.geojson
data/hunan-osm_places_free.geojson

# PyInstaller 构建产物
build/
dist/
*.spec